* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Baskervville', serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #F5F5DC;
}

#quote-box {
  position: absolute;
  padding: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3);
}

p {
  text-align: center;
  color: #685752;
}

#quote-box p:nth-child(2) {
  margin: 1em;
}

#quote-box div:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 45px 30px;
}

a {
  display: grid;
  place-items: center;
  background: white;
  text-decoration: none;
  color: #A59D84;
}

a:hover {
  color: #685752;
}

button {
  width: 100px;
  padding: 0.3em;
  background: #A59D84;
  color: white;
  border-radius: 0.5rem;
}

button:hover {
  background: #685752;
  cursor: pointer;
}